@use './mixins' as *;

.input{
    width: 100%;
    font-family: "Karla", sans-serif;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    border-radius: 5px;
}

.submit{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    @include gradient;
    color: white;
    font-family: "Karla", sans-serif;
    border: none;
    height: 35px;
}

.imgcont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .topText{
        position: absolute;
        top: 3px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    }

    .bottomText{
        position: absolute;
        bottom: 3px;
        font-family: impact, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
    }
}



